Repository activtips/koumpa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: infra:validate, infra:fmt-check, infra:plan-staging, infra:plan-prod, infra:deploy-staging, infra:deploy-prod, app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

infra:validate:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache aws-cli
  cache:
    key: terraform-${CI_COMMIT_REF_SLUG}
    paths:
    - .terraform/
  stage: validate
  script:
  - echo "Validating Terraform configuration..."
  ...

infra:fmt-check:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache aws-cli
  cache:
    key: terraform-${CI_COMMIT_REF_SLUG}
    paths:
    - .terraform/
  stage: validate
  script:
  - terraform fmt -check -recursive terraform/
  allow_failure: true

infra:plan-staging:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache aws-cli
  cache:
    key: terraform-${CI_COMMIT_REF_SLUG}
    paths:
    - .terraform/
  stage: test
  script:
  - cd terraform/environments/staging
  - terraform init
  - terraform plan -out=staging.tfplan
  ...

infra:plan-prod:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache aws-cli
  cache:
    key: terraform-${CI_COMMIT_REF_SLUG}
    paths:
    - .terraform/
  stage: test
  script:
  - cd terraform/environments/prod
  - terraform init
  - terraform plan -out=prod.tfplan
  artifacts:
  ...

infra:deploy-staging:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache aws-cli
  cache:
    key: terraform-${CI_COMMIT_REF_SLUG}
    paths:
    - .terraform/
  stage: deploy-staging
  script:
  - cd terraform/environments/staging
  - terraform init
  - terraform apply -auto-approve
  ...

infra:deploy-prod:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache aws-cli
  cache:
    key: terraform-${CI_COMMIT_REF_SLUG}
    paths:
    - .terraform/
  stage: deploy-prod
  script:
  - cd terraform/environments/prod
  - terraform init
  - terraform apply -auto-approve
  ...

app:test:
  image: node:${NODE_VERSION}-alpine
  before_script:
  - apk add --no-cache zip
  cache:
    key: node-${CI_COMMIT_REF_SLUG}
    paths:
    - node_modules/
    - src/lambdas/shared/node_modules/
  stage: test
  script:
  - cd src/lambdas/shared
  - npm ci
  - npm test
  allow_failure: true

app:lint:
  image: node:${NODE_VERSION}-alpine
  before_script:
  - apk add --no-cache zip
  cache:
    key: node-${CI_COMMIT_REF_SLUG}
    paths:
    - node_modules/
    - src/lambdas/shared/node_modules/
  stage: validate
  script:
  - cd src/lambdas/shared
  - npm ci
  - npm run lint || true
  allow_failure: true

app:build:
  image: node:${NODE_VERSION}-alpine
  before_script:
  - apk add --no-cache zip
  cache:
    key: node-${CI_COMMIT_REF_SLUG}
    paths:
    - node_modules/
    - src/lambdas/shared/node_modules/
  stage: build
  script:
  - chmod +x scripts/*.sh
  - ./scripts/build-all-lambdas.sh
  artifacts:
    paths:
  ...

Migration vers GitHub Actions
  .github/workflows/application.yml
  .github/workflows/infrastructure.yml
  .gitlab-ci.yml
Due: none

Configuration du domaine koumpa.com avec Route 53 et ACM
  terraform/environments/prod/main.tf
  terraform/environments/prod/outputs.tf
  terraform/environments/prod/variables.tf
  terraform/environments/staging/main.tf
  terraform/environments/staging/outputs.tf
  terraform/environments/staging/variables.tf
  terraform/modules/api/main.tf
  terraform/modules/api/outputs.tf
  terraform/modules/api/variables.tf
  terraform/modules/dns/main.tf
  terraform/modules/dns/outputs.tf
  terraform/modules/dns/variables.tf
  terraform/modules/storage/main.tf
  terraform/modules/storage/outputs.tf
  terraform/modules/storage/variables.tf
Due: infra:validate, infra:fmt-check, infra:plan-staging, infra:plan-prod, infra:deploy-staging, infra:deploy-prod

Fix provider alias et ajout bootstrap pour state backend
  .github/workflows/bootstrap.yml
  terraform/bootstrap/main.tf
  terraform/modules/dns/main.tf
Due: infra:validate, infra:fmt-check, infra:plan-staging, infra:plan-prod, infra:deploy-staging, infra:deploy-prod

Trigger staging deployment
  terraform/environments/staging/main.tf
Due: infra:validate, infra:fmt-check, infra:plan-staging, infra:plan-prod, infra:deploy-staging, infra:deploy-prod

Fix: Build Lambdas et Layer avant déploiement Terraform
  .github/workflows/infrastructure.yml
  scripts/build-layer.sh
  src/lambdas/layers/.gitkeep
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Add comment about production approval
  .github/workflows/infrastructure.yml
Due: none

Ajout des squelettes Lambda manquants (stripe-webhook, daily-bonus, get-user, list-projects, admin-update-plan)
  src/lambdas/admin-update-plan/index.js
  src/lambdas/daily-bonus/index.js
  src/lambdas/get-user/index.js
  src/lambdas/list-projects/index.js
  src/lambdas/stripe-webhook/index.js
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Fix: Exclure le dossier layers du build
  scripts/build-all-lambdas.sh
Due: app:test, app:build, app:deploy-staging, app:deploy-prod

Fix: Corriger syntaxe bash pour incrément
  scripts/build-all-lambdas.sh
Due: app:test, app:build, app:deploy-staging, app:deploy-prod

feat: Support wildcard subdomains for user apps
  terraform/environments/prod/main.tf
  terraform/environments/staging/main.tf
  terraform/modules/dns/main.tf
  terraform/modules/dns/variables.tf
  terraform/modules/storage/main.tf
  terraform/modules/storage/variables.tf
Due: infra:validate, infra:fmt-check, infra:plan-staging, infra:plan-prod, infra:deploy-staging, infra:deploy-prod

fix: Remove apps_domain references from outputs
  terraform/environments/prod/outputs.tf
  terraform/environments/staging/outputs.tf
  terraform/modules/dns/outputs.tf
Due: infra:validate, infra:fmt-check, infra:plan-staging, infra:plan-prod, infra:deploy-staging, infra:deploy-prod

feat: Add landing page and automatic deployment
  .github/workflows/infrastructure.yml
  src/landing/404.html
  src/landing/index.html
  terraform/environments/prod/outputs.tf
  terraform/environments/staging/outputs.tf
Due: infra:validate, infra:fmt-check, infra:plan-staging, infra:plan-prod, infra:deploy-staging, infra:deploy-prod, app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

feat: Complete webapp with Next.js 14, TypeScript, and Tailwind
  .github/workflows/infrastructure.yml
  .github/workflows/webapp.yml
  src/landing/404.html
  src/landing/index.html
  src/webapp/.env.example
  src/webapp/.gitignore
  src/webapp/app/layout.tsx
  src/webapp/app/page.tsx
  src/webapp/app/providers.tsx
  src/webapp/components/features/auth-modal.tsx
  src/webapp/components/features/features-section.tsx
  src/webapp/components/features/hero-section.tsx
  src/webapp/components/features/pricing-section.tsx
  src/webapp/components/features/prompt-input.tsx
  src/webapp/components/layout/footer.tsx
  src/webapp/components/layout/index.ts
  src/webapp/components/layout/navbar.tsx
  src/webapp/components/ui/button.tsx
  src/webapp/components/ui/index.ts
  src/webapp/components/ui/input.tsx
  src/webapp/components/ui/modal.tsx
  src/webapp/lib/api/client.ts
  src/webapp/lib/api/projects.ts
  src/webapp/lib/auth/amplify-config.ts
  src/webapp/lib/auth/auth-context.tsx
  src/webapp/lib/config/env.ts
  src/webapp/lib/hooks/use-prompt.ts
  src/webapp/lib/utils/cn.ts
  src/webapp/next.config.ts
  src/webapp/package.json
  src/webapp/postcss.config.mjs
  src/webapp/styles/globals.css
  src/webapp/tailwind.config.ts
  src/webapp/tsconfig.json
  src/webapp/types/index.ts
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

fix: Add package-lock.json for webapp CI/CD
  .gitignore
  src/webapp/package-lock.json
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

fix: Convert next.config.ts to next.config.mjs for Next.js 14.2 compatibility
  src/webapp/next.config.mjs
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

fix: Remove Claude branding from UI
  src/webapp/components/features/hero-section.tsx
  src/webapp/components/features/prompt-input.tsx
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Add explicit_auth_flows to Cognito client for Amplify SDK
  terraform/modules/auth/main.tf
Due: infra:validate, infra:fmt-check, infra:plan-staging, infra:plan-prod, infra:deploy-staging, infra:deploy-prod

Trigger webapp rebuild with Cognito secrets
  src/webapp/lib/auth/amplify-config.ts
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

fix: Use direct process.env access for Next.js static build
  src/webapp/lib/config/env.ts
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

feat: Add workspace view for app generation
  src/webapp/app/page.tsx
  src/webapp/app/workspace/[projectId]/page.tsx
  src/webapp/components/features/workspace/chat-panel.tsx
  src/webapp/components/features/workspace/index.ts
  src/webapp/components/features/workspace/preview-panel.tsx
  src/webapp/components/features/workspace/workspace-header.tsx
  src/webapp/tailwind.config.ts
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

fix: Use query params for workspace route (static export compatible)
  src/webapp/app/page.tsx
  src/webapp/app/workspace/page.tsx
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

fix: Handle already signed in user error in auth flow
  src/webapp/lib/auth/auth-context.tsx
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

fix: Separate login and register buttons in auth flow
  src/webapp/app/page.tsx
  src/webapp/components/features/auth-modal.tsx
  src/webapp/components/layout/navbar.tsx
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Fix generation flow: API response mapping and deployUrl
  src/webapp/app/page.tsx
  src/webapp/app/workspace/page.tsx
  src/webapp/components/features/hero-section.tsx
  src/webapp/components/features/prompt-input.tsx
  src/webapp/components/features/workspace/preview-panel.tsx
  src/webapp/components/features/workspace/workspace-header.tsx
  src/webapp/lib/api/projects.ts
  src/webapp/lib/auth/auth-context.tsx
  src/webapp/types/index.ts
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Add package-lock.json for Lambda shared dependencies
  src/lambdas/shared/package-lock.json
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Fix user creation and plan fallback for new signups
  src/lambdas/cognito-post-confirm/index.js
  src/lambdas/cognito-post-confirm/package.json
  src/lambdas/shared/repositories/plan.repository.js
  src/lambdas/shared/repositories/user.repository.js
  src/lambdas/shared/services/app-generation.service.js
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Fix error handling and add debug logging
  src/lambdas/shared/config/index.js
  src/lambdas/shared/errors/index.js
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Add better error diagnostics for Lambda init failures
  src/lambdas/generate-app/index.js
  src/lambdas/shared/config/index.js
  src/lambdas/shared/errors/index.js
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Fix ErrorHandler.wrap to wrapHandler in all Lambdas
  src/lambdas/admin-update-plan/index.js
  src/lambdas/daily-bonus/index.js
  src/lambdas/get-user/index.js
  src/lambdas/list-projects/index.js
  src/lambdas/stripe-webhook/index.js
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Fix: Connect API client to auth context for access token
  src/webapp/lib/auth/auth-context.tsx
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Fix: Configure Amplify synchronously before render
  src/webapp/app/providers.tsx
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Fix: Correct require paths for shared modules in generate-app Lambda
  src/lambdas/generate-app/index.js
  src/lambdas/generate-app/validators.js
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Debug: Add detailed logging for DynamoDB errors
  src/lambdas/shared/errors/index.js
  src/lambdas/shared/repositories/base.repository.js
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Fix: Remove null GSI keys from user creation
  src/lambdas/shared/repositories/user.repository.js
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Debug: Don't throw on missing env vars to see actual error
  src/lambdas/shared/config/index.js
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Debug: Lazy load modules to identify initialization error
  src/lambdas/generate-app/index.js
Due: app:test, app:lint, app:build, app:deploy-staging, app:deploy-prod

Path conditions:
  infra:validate: any of: terraform/**/*
  infra:fmt-check: any of: terraform/**/*
  infra:plan-staging: any of: terraform/**/*
  infra:plan-prod: any of: terraform/**/*
  infra:deploy-staging: any of: terraform/**/*
  infra:deploy-prod: any of: terraform/**/*
  app:test: any of: src/**/*, scripts/**/*
  app:lint: any of: src/**/*
  app:build: any of: src/**/*, scripts/**/*
  app:deploy-staging: any of: src/**/*, scripts/**/*
  app:deploy-prod: any of: src/**/*, scripts/**/*
